<h1>People</h1>
<h2><a href="http://localhost:3000/people">Index of Quoted People</a>
<a href="http://localhost:3000/quotes">Index of Quotes</a></h2>
<h3><a href="http://localhost:3000/people/new">New Person</a></h3>

<% @people.each do |person| %>
  <p>
  Name: <%=person.name%><br>
  Deceased: <%=person.deceased%><br>
  Birthday: <%=person.birthday%><br>
  Created at: <%=person.created_at%><br>
  ID: <<%=person.id%><br>>
  </p>
<%end%>