<h2><a href="http://localhost:3000/people">Index of Quoted People</a>
<a href="http://localhost:3000/quotes">Index of Quotes</a></h2>

<%= for_with url: '/people', method: :post, local: true do |form| %>
  <%= form.label :name%>
  <%=form.text_field :name%>
  <%=form.label :deceased%>
  <%= form.%>